footer{
    min-height: 360px;
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0 100%);
    background: url('../img/footer-bg.svg') no-repeat top right 20%, linear-gradient(345.82deg, #78CEFF -0.46%, #3889D5 35.38%, #1261BD 70.47%);
}