.news-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 50px;
    .article-date{
        font-size: 18px;
        line-height: 1.6;
        font-weight: 600;
    }
    h3{
        font-weight: 300;
        margin-bottom: 16px;
    }
    .text{
        margin-bottom: 32px;
    }
    &__wrapper{
        padding-top: 50px;
    }
    @include respond(s-screen){
      grid-template-columns: 1fr;
      column-gap: unset;  
      .news-article{
          &__img{
              margin-bottom: 20px;
          }
      }
    }
}
