.layout{
    &__support{
        .radio-btns{
            margin-bottom: 30px;
        }
        .form-wrapper{
            form{
                textarea{
                    width: 100%;
                    min-height: 120px;
                    resize: none;
                }
            }
        }
    }
}